/* Colors */

$dark-blue: rgba(46,58,70,255);

$dark-blue-dark: rgba(30,45,59,255);

$gray-medium: rgba(84,84,84,255);

/* Color cube */
$white: #fefefe;

$cerulean: #01afc8;

$blue-logo: #3f3a64;

$blue-haze: #b6b8d1;

$amaranth: #e7385f;

$cod-gray: #0e0e0e;

$mulled-wine: #513e5e;

$pizazz: #fb9301;

$green-haze: #01aa51;

$pharlap: #a08778;

$koromiko: #ffc869;

/* Median cut */
$gallery: #f0efef;

$spectra: #345e60;

$fuzzy-wuzzy-brown: #c04a57;

$pewter: #96a6a5;

$golden-grass: #de912a;

/* Material design */
$carrot-orange: #f29518;

$oslo-gray: #959999;

$jungle-green: #22ad96;

$viridian: #458d76;

$cerise-red: #e23c5d;

$g-gray: #f8f8f8;

$orange_circle: #ecc5ab